/* variables for light theme */
:root {
  --bg-color: gainsboro;
  --outline: darkgray;
  --font-color: black;
}

/* Starting css for every element */
* {
  text-align: center;
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

button {
  padding: 1rem;
  border: solid var(--font-color);
}

/* Hide authorised-only features */
#hideByDefault {
  display: none;
}

@media (prefers-color-scheme: dark) {

  /* variables for dark theme */
  :root {
    --bg-color: #202020;
    --outline: black;
    --font-color: white;
  }
}