/* Hides image buttons until needed */
.questionOptionsHidden {
  display: none;
}

.questionOptions {
  display: inline;
}

/* Makes image buttons smaller */
img, source {
  display: inline-flex;
  flex-direction: row;
  max-width: 5em;
}

/* Boxes to surround each question */
.questions>section {
  border: solid;
  margin-bottom: 1em;
  padding-bottom: 1em;
}