/* Emphasise required questions */
[class$="required"]>p {
  color: red;
  font-size: 2em;
  padding: 0;
  border: 0;
}

h2 {
  padding: 0;
  border: 0;
}

/* Boxes to surround each question */
section {
  border: solid;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

img {
  max-height: 20%;
}

/* Finds section with a class that ends in "image"*/
/* Hides checkboxes (can still click them) */
section[class$="image"]>label>input {
  visibility: hidden;
}

/* Puts border around selected images */
/* (& text boxes, if image doesn't exist) */
section[class$="image"]>.selected {
  border: medium solid red;
}

/* Use flex for checkbox questions */
section[class$="select"]>label {
  display: flex;
  flex-direction: row;
}

label>p {
  display: inline;
  margin-left: 1em;
}